.containImg {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.imgItems {
  width: 150px;
  height: 150px;
  background-size: cover;
  margin: 10px 10px;
}