body {
  background: #282c34;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.lower-section {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  margin: 10px 25px;
}

.button {
  background: #22655c;
  padding: 0px 20px 4px;
  transition: .4s;
  font-size: .9em;
}

.button:hover {
  background: #27756b;
  padding: 0px 20px 4px;
  box-shadow: 2px 2px 2px #585858;
  cursor: pointer;
  transition: .4s;
}

.c {
  position: relative;
  color:rebeccapurple;
  animation: wave .7s ease-in-out infinite ;
}

.c-1 { animation-delay: 0ms }
.c-2 { animation-delay: 200ms }
.c-3 { animation-delay: 440ms }

@keyframes wave {
  50% {
    color: rgba(255, 255, 255, .8);
    top: -3px;
  }
  0% , 100% {
    color: rgb(47, 47, 47);
    top: 0px;

  }
}

.unfocus {
  display: flex;
  height: 95vh;
  width: 80vw;
}

.unfocus:focus{
  outline: none;
}

.modalImage {
  object-fit: contain;
  width: 100%;
}